.slide1-appear {
  opacity: 0;
  transform: translateX(-500px) scale(0.6);
}

.slide1-appear-done {
  opacity: 1;
  transition: all 400ms;
  transform: translateX(0) scale(1);
}

.slide1-enter {
  opacity: 0;
  transform: translateX(-500px) scale(0.3);
}

.slide1-enter-active {
  opacity: 1;
  transition: all 400ms ease-out;
  transform: translateX(0) scale(1);
}

.slide1-exit {
  opacity: 1;
}

.slide1-exit-active {
  opacity: 0;
  transition: all 400ms ease-in;
  transform: translateX(500px) scale(0.3);
}

/* SLIDE 2 */

.slide2-appear {
  opacity: 0;
  transform: translateX(-500px) scale(0.6);
}

.slide2-appear-done {
  opacity: 1;
  transition: all 100ms;
  transform: translateX(0) scale(1);
}

.slide2-enter {
  opacity: 0;
  transform: translateX(-500px) scale(0.3);
}

.slide2-enter-active {
  opacity: 1;
  transition: all 100ms ease-out;
  transform: translateX(0) scale(1);
}

.slide2-exit {
  opacity: 1;
}

.slide2-exit-active {
  opacity: 0;
  transition: all 100ms ease-in;
  transform: translateX(500px) scale(0.3);
}