.aws-btn {
  --button-default-height: 250px;
  --button-default-font-size: 60px;
  --button-default-border-radius: 50%;
  --button-horizontal-padding: 26px;
  --button-raise-level: 10px;
  --button-hover-pressure: 2;
  --transform-speed: 0.1s;

  --button-primary-color: #0079d3;
  --button-primary-color-dark: #004070;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #0079e2;
  --button-primary-color-active: #0079e2;
  --button-primary-border: none;
}
